*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
html { scroll-behavior: smooth; }
body{
    width: 100%;
}
.contact{
    height: 40px;
    padding: 0 7% 0 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f1111;
    text-align: center;
}
.contact a{
    color: white;
}
.notice-link{
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: underline;
}
.divider{
    font-size:x-large;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.contact span{
    color: white;
}
.fa-css {
    color: #0089c8;
    padding-right: 5px;
  }
.navbar{
    padding: 0 7% 0 7%;
    background-color: #f5f7f7;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    height: 150px;
}
.navbar img{
    width: 115px;
}
.logo{
    width: 115px;
}
.overall-logo{
    display: flex;
    align-items: center;

}.overall-logo span{
    height: 40px;
}
.text-logo{
    padding-left: 15px;
}
.text-logo a{
    font-size:4rem;
}
.text-logo p{
    font-size: 1.5rem;
}
.search{
    display: flex;
    align-items: center;
}
.Search{
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 15px;
    margin-right: 0;
    border: none;
    font-size: 1.5rem;
}
.searchbtn{
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:none;
    font-size: 1.5rem;
    background-color: #0089c8;
    border-radius: 0 20px 20px 0;
    padding: 10px 15px;
    height: 50px;
    margin-left: 0;
}
.links{
    padding: 0 3% 0 3%;
    background-color: #0f1111;
    height: 40px;
    /* display: flex;
    align-items: center; */
}
.dropimgMenu{
  padding-right: 5%;
}
.menu{
  padding-top: 0.7%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.menubtn{
  display: none;
  background-color: inherit;
    border: none;
    color: white;
}
.links a{
 text-decoration: none;
 color: white;
 margin: 0 1% 0 1%;
 font-size: 1.3rem;
}
.about{
    /* font-size: large; */
}
.btn{
    background-color: inherit;
    border: none;
    color: white;
    font-size: 1.3rem;
    /* margin: 0 2% 0 2%; */
}
.dropimg{
    padding-left: 5px;
}
.dropdown {
    display: inline-block;
    position: relative;
    margin-left:2%;
    margin-right: 2%;
}
.dropdown-options {
    width: 100%;
    padding: 5px;
    display: none;
    position: absolute;
    background-color:#0f1111;
  }
.dropdown-options a{    
    padding-top: 10px;
    color: white;
    font-size: large;
}
.dropdown:hover .dropdown-options{
  display: block;
  z-index: 9999999;
}
.showDropdown{
    display: block;
}
.show {
    display: block;
}


/* content */


.ClassBooks{
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    
}
.ClassBooks p{
    border-radius: 25px;
    padding: 1%;
    background-color: lightblue;
    box-shadow: 3px 3px#0089c8;
}
.chapternames{
    display: block;
    margin-top: 2%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
}
.chapterName{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:1% ;
    font-size: 1.5rem;
    width: 100%;
}
.chapterName .chpnum{
    background-color: lightblue;
    padding: 1%;
    margin-right: 1%;
    border-radius: 50%;
    box-shadow: 3px 3px#0089c8;
}
.chapterName a{
    text-decoration: none;
    color: #0f1111;
    background-color: lightblue;
    border-radius: 25px;
    padding: 1%;
    box-shadow: 3px 3px#0089c8;
    width: 25%;
    display: flex;
    justify-content: space-between;
}




.footer{

}
  .line{
    background-color: #cf4242;
    height: 5px;
    width: 100%;
  }
  .mainFooter{
    height: 330px;
    background-color: #0f1111;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .followus{
    height: 150px;
    width: 30%;
    font-size: 2rem;
    text-align: center;
    color: #0089c8;
    padding-left: 5%;
  }
  .followdetails{
    padding-top: 3%;
    font-size: 1.2rem;
    text-align: left;
    color: white;
  }
  .followusHeading{
    text-align: left;
  }
  .followdetails a{
    text-decoration: none;
    color: white;
  }
  .contactus{
    height: 150px;
    font-size: 2rem;
    width: 30%;
    text-align: center;
    color: #0089c8;
  }
  .contactusHeading{
    text-align: left;
  }
  .contactdetails{
    padding-top: 3%;
    font-size: 1.2rem;
    text-align: left;
    color: white;
  }
  .contactdetails a{
    text-decoration: none;
    color: white;
  }
  .copyright{
    height: 45px;
    background-color: #666666;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footerimg{
    margin-right: 2.5%;
    margin-bottom: 2%;
  }


  /*  responsive css */

  /* main footer  */
  @media  screen and (max-width:450px) {
    /* header */
    .contact{
      height: fit-content;
      display: block;
    }
    .Notice{
      padding: 1.5%;
    }
    .contactHeader {
      display:none;
    }
    .divider{
      visibility:hidden;
    }

    /* navbar */
    
    .navbar{
      display: block;
      align-items: center;
      justify-content: center;
      height: 280px;
      padding: 0;

    }
    .overall-logo{
      padding: 3%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .logo img{
      width: 150px;
    }
    .text-logo{
      width: 40%;
    }
    .text-logo a{
      font-size: 2.5rem;
    }
    .text-logo p{
      font-size: 1rem;
    }
    .search{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3%;
    }
    .Search{
      height: 40px;
      padding-left: 10px;
      font-size: 1rem;
    }
    .searchbtn{
      text-align: center;
      height: 40px;
      font-size: 1rem;
      padding: 5px 10px;
    }
    /* menu bar */

    .links{
      height: 60px;
      width: 100%;
      margin-bottom: 4%;
      /* display: block; */
      align-items: center;
    }
    .menu{
      display: none;
    }
    .menubtn{
      display:block;
      padding-top: 2%;
      padding-bottom: 2%;
      width: 40%;
      font-size: 2rem;
    }
    .links{
      height: fit-content;
    }
    .menu.responsive {
      background-color: #0f1111;
      display: block;
      text-align: left;
      position: relative;
      z-index: 99999999999  ;
    }
    .menu.responsive  a {
      float: none;
      display: block;
      text-align: left;
      position: relative;
      
      padding: 1%;
      padding-left: 3.5%;
    }
     .menu.responsive .dropdown {
      float: none;
      display: block;
      padding: 1%;
      padding-left: 3%;
    }
    .menu.responsive .dropdown-options {position: relative;}
    .menu.responsive .dropdown .btn {
      display: block;
      width: 100%;
      text-align: left;
    }
    
    /* chapters name */
    .chapternames{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .chapterName{
      width: 80%;
      padding: 1.5%;
      font-size: 1.2rem;
    }
    .chapterName .chpnum{
      padding: 3%;
      margin-right:3%;
    }
    .chapterName a{
      width: 100%;
      padding: 3%;

    }

    /* footer */

    .mainFooter{
      height: 700px;
      padding-top: 3%;
      display: block;
      align-items: center;
      justify-self: center;
    }
    .followus{
      width: 100%;
        padding:0;
    }
    .followdetails{
      text-align: center;
    }
    .followusHeading{
      text-align: center;
    }
    .followdetails a{
      text-align: center;
    }
    .contactus{
      margin-top: 5%;
      margin-bottom: 7%;
      width: 100%;
      padding:0;
    }
    .contactusHeading{
      text-align: center;
    }
    .contactdetails{
      text-align: center;
    }
    .googlemap{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
